@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(to right, #f50591, #3934f1, #2fafc7);
  }

  .text-gradient-hover {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(to right, #2fafc7, #3934f1, #f50591);
  }

  .gradient-icon {
    background: linear-gradient(to right, #f50591, #3934f1, #2fafc7);
    transition: all 0.3s ease-in-out;
  }

  .gradient-icon-hover {
    background: linear-gradient(to right, #2fafc7, #3934f1, #f50591);
  }
  .gradient-bg {
    background: linear-gradient(to right, #f50591, #3934f1);
    transition: all 0.3s ease-in-out;
  }
  .gradient-bg-hover {
    background: linear-gradient(to right, #3934f1, #f50591);
    transition: all 0.3s ease-in-out;
  }
}
